.c-sample {
  // background-color: lightgoldenrodyellow;
  font-size: 1.5rem;
  code {
    font-size: 1.25rem;
    background-color: #eeeefe;
    @media screen and (prefers-color-scheme: dark) {
      background-color: #333340;
    }
  }
}
